<div>
    이 곳은 show입니다.
    {{#article}}
        {{id}} {{title}} {{content}}
    {{/article}}
</div>
<a href="/articles/new">New Article</a>
<a href="/articles">Article List</a>
<a href="/articles/{{id}}/edit">Edit</a>
<a href="/articles/{{id}}/delete">Delete</a>
